.home {
    height: 100%;
    background-image: url('assets/images/wallpaper.jpeg');
    background-size: cover;
}

.safe-area {
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 100%;
    height: 100%;
}

.page {
    margin: .5rem .6rem 0;
    padding: 0 .7rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 1rem;
    justify-content: space-between;
}

.dock {
    margin: auto .6rem .6rem;
}
