.app-icon {
    display: flex;
    flex-direction: column;
}

.app-icon.disable {
    opacity: .6;
}

.icon {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: .7rem;
    cursor: pointer;
}

.app-icon .icon:active {
    filter: brightness(.8);
}

.app-icon.disable .icon {
    cursor: not-allowed;
}

.app-icon .label {
    text-align: center;
    font-size: .55rem;
    color: white;
    margin-top: .25rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 2.8rem;
}
