.frame {
    position: relative;
    width: 18.75rem;
    aspect-ratio: 75.21 / 159.21;
    border-radius: 2.9rem;
    box-shadow: inset 0 0 0 .06rem grey,
    inset 0 0 0 .12rem white,
    inset 0 0 0 .22rem grey,
    inset 0 0 0 1.1rem black;
    background: white;
}

.frame .notch {
    width: 7rem;
    height: 1.5rem;
    background-color: black;
    position: absolute;
    top: 0.9rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 1rem 1rem;
    z-index: 1;
}

.frame .notch .camera {
    width: .85rem;
    height: .85rem;
    background-color: hsl(181deg 34% 24%);
    border-radius: 100%;
    margin-left: .5rem;
    margin-top: .15rem;
    background-image: url('assets/images/camera.png');
    background-size: 100%;
}

.frame .left-notch,
.frame .right-notch {
    width: 0.5rem;
    height: .4rem;
    position: absolute;
    z-index: 2;
    top: .88rem;
}

.frame .left-notch {
    left: 5.62rem;
    background-image: radial-gradient(
            circle at 0px 6px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 4px, black 4px
    );
}

.frame .right-notch {
    right: 5.62rem;
    background-image: radial-gradient(
            circle at 8px 6px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 4px, black 4px
    );
}

.frame .screen {
    position: absolute;
    margin: 1rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 1.9rem;
    background: white;
}

.frame .button {
    --width: .2rem;
    border-radius: .5rem;
    --border: .06rem;
    left: calc((var(--width) * -1) + var(--border));
    box-shadow: 0 0 0 var(--border) grey inset;
    width: var(--width);
    background: lightgrey;
    position: absolute;
}

.frame .slider {
    --width: .22rem;
    border-radius: .08rem;
    height: 1.4rem;
    top: 18%;
}

.frame .volume-up {
    height: 3rem;
    top: 25%;
}

.frame .volume-down {
    height: 3rem;
    top: 35%;
}

.frame .power {
    --width: .2rem;
    height: 4.3rem;
    top: 28%;
    right: calc((var(--width) * -1) + var(--border));
    border-radius: .06rem;
    left: unset;
}
