.frame {
    position: relative;
    width: 300px;
    aspect-ratio: 75.21 / 159.21;
    border-radius: 2.9rem;
    box-shadow: inset 0 0 0 .06rem grey,
    inset 0 0 0 .12rem white,
    inset 0 0 0 .22rem grey,
    inset 0 0 0 1rem black;
}

.notch {
    width: 7rem;
    height: 1.4rem;
    background-color: black;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 .7rem .7rem;
    z-index: 1;
}

.notch .camera {
    width: .85rem;
    height: .85rem;
    background-color: hsl(181deg 34% 24%);
    border-radius: 100%;
    margin-left: .4rem;
    margin-top: .05rem;
    background-image: url('../../assets/images/camera.png');
    background-size: 100%;
}

.left-notch {
    width: 0.5rem;
    height: .4rem;
    position: absolute;
    z-index: 2;
    top: .935rem;
    left: 5.5rem;
    background-image: radial-gradient(
            circle at 0px 7px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 6px, black 6px
    );
}

.right-notch {
    width: 0.5rem;
    height: .4rem;
    position: absolute;
    z-index: 2;
    top: .937rem;
    right: 5.44rem;
    background-image: radial-gradient(
            circle at 7px 7px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 6px, black 6px
    );
}

.screen {
    position: absolute;
    margin: 1rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 1.9rem;
}
